* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'montserrat', sans-serif;
}

body {
    background: url(assets/background.png) no-repeat center center fixed;
    background-size: cover;
    object-fit: cover;
    overflow: hidden;
}

section {
    width: 90%;
    margin: 1em auto;
}

header ul {
    list-style: none;
    height: 60px;
    overflow: hidden; /* Taşmayı gizledik */
    /*position: static; 
    float: right; 
    Menüyü sağa almak için kullanılabilir. Dikey Modda by F.
    */ 
}

header ul li {
    float: left;
    width: 175px;
    line-height: 60px;
}

header ul li a:link,
header ul li a:visited {
    color: #000;
    text-decoration: none;
}

#Hamburger {
    float: right;
    width: auto;
}

#Kaydir {
    margin-left: calc(100%/5);
}

.yaziBoyutu {
    font-size: 1.5em;
    text-align: center;
}

h1 {
    font-size: 2em;
}

main {
    width: 80%;
    margin: auto;
}

main #Left {
    width: 350px;
    margin-top: 150px;
    font-size: 18px;
    position: absolute;
}

main #Right {
    float: right;
    font-size: 7em;
    font-weight: 700;
    margin: 380px 150px 0px 0px;
    line-height: 75px;
    color: #212121;
}

footer {
    margin-top: 780px;
}

footer ul {
    list-style: none;
    width: 100%;
}

footer ul li {
    float: left;
    padding-right: 10px;
    font-size: 1.5em;
}

i {
    color: #2d2d2d;
}

footer ul li:last-child{
    float: right;
    font-weight: bold;
}

summary {
    font-weight: bold;
    cursor: pointer;
    list-style: none;
}

details[open] summary {
    display: none;
}
